@import url("https://fonts.googleapis.com/css?family=Indie+Flower|Montserrat|Playfair+Display|Shadows+Into+Light");
.btn-primary {
  color: #fff;
  background-color: #726A95;
  border-color: #726A95; }

.table-primary {
  background-color: #351F39; }

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: #726A95; }

body .page {
  padding-top: 150px; }

body .section {
  margin-top: 4em;
  margin-bottom: 4em; }

body .fe-color {
  background-color: #709FB0; }

body footer {
  padding: 10px;
  background-color: #709FB0; }

img {
  width: 40px; }

h1.page-title {
  font-family: 'Shadows Into Light', regular;
  font-size: 4rem;
  margin-left: -20px; }

th, td {
  color: #F4E8C1; }

h2 {
  color: #709FB0; }

h3 {
  color: #A0C1B8; }

legend {
  color: #F4E8C1; }

text {
  color: #351F39; }

blockquote {
  font-family: 'Indie Flower', italic;
  font-size: 20px;
  width: 500px;
  margin: 0.25em 0;
  padding: 0.35em 40px;
  line-height: 1.45;
  position: relative;
  color: #709FB0; }
  blockquote ::before {
    font-family: 'Playfair Display', black;
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #7a7a7a; }
  blockquote cite {
    color: #7a7a7a;
    font-family: 'Montserrat', bold;
    font-size: 12px;
    display: block;
    margin-top: 5px; }
    blockquote cite ::before {
      content: "\2014 \2009"; }

#mc-embedded-subscribe {
  height: 32px;
  padding-top: 4px; }
